* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.headerSection{
  display: flex;
  justify-content: space-between;
  background-color: rgb(56, 47, 54);
  color: rgb(243, 201, 223);
  padding: 10px;
}
.title{
  font-size: .8rem;
  padding: 5px;
}
.center ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 10px;
}
.center{
  flex: 4;
}
.searchBar{
  padding: 10px;
  flex: 3;
 
}

.searchBar input{
   background-color: rgb(243, 201, 223);
   border-radius: 20px;
   border: none;
   height: 1.5rem;
   padding-left: 10px;
}

.right{
  display: inline-flex;
  flex: 2.3;
  padding: 10px;
}

.bannerBox{
  margin: 10px 0;
}

.bannerBox img{
  width: 100%;
  height: 200px;
}

.menImages img{
  width: 149px;
  height: 220px;
  padding: 0 4px;
}
.menImages{
  display: flex;
  justify-content: space-between;
}
.footerBox img{
  width: 100%;
}
.imgCard{
  display: flex;
  flex-direction: column;
}
